
#main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*.slider_label{*/
/*    text-align: center;*/
/*    font-size: 10px;*/
/*}*/
h1{
    font-size:2rem;
    padding:10px;
    align-items: center;
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    /*height: 90%;*/
    /*height: 10px;*/
}
.spacer{
    width: 10vw;
}
.spacer2{
    height: 4vh;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.form_translate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    /*border: solid;*/
    height: 100%;
}


label{
    padding:10px
}

.input-box {
  display: flex;
  align-items: center;
  max-width: 300px;
  background: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  padding-left: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
}

.input-box .prefix {
  font-weight: 300;
  font-size: 14px;
  color: #999;
}

.input-box input {
  flex-grow: 1;
  font-size: 14px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.input-box:focus-within {
  border-color: #777;
}


.biginputbox{
    display: flex;
    flex-direction: column;
/*border: solid;*/
    align-items: center;
}
.checkboxbox{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


input[type="number"]:disabled {
  background: #ccc;
}


.othercheckboxinput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}








/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}